table
{
/*  border: 1px solid black; */
  padding-: 0px 0px 0px 0px;
  width: 90vw;
  height: 200px;
  max-width: 100vh;
  margin: 0 auto;
  font-size: 4vh;
  font-family: "Avenir Next";
  color: #643684;
  overflow: auto;
}
td, th
{
/*  border: 1px solid black; */
}
th
{
  background: #b0e0e6;
}
div
{
  border: 1px solid white;
  max-width: 65vh;
  height: 13vh;
  margin: auto;
  padding-top: 1px;
  min-height: 60px;
  min-width: 200px;
  background-size: 100% 100%;
  display: block;
}
.menuitem0
{
  background-image: url(img/cc20.png);
}
.menuitem0:hover
{
  background-image: url(img/cc0.png);
}
.menuitem1
{
  background-image: url(img/cc21.png);
}
.menuitem1:hover
{
  background-image: url(img/cc1.png);
}
.menuitem2
{
  background-image: url(img/cc22.png);
}
.menuitem2:hover
{
  background-image: url(img/cc2.png);
}
.menuitem3
{
  background-image: url(img/cc23.png);
}
.menuitem3:hover
{
  background-image: url(img/cc3.png);
}
.menuitem4
{
  background-image: url(img/cc24.png);
}
.menuitem4:hover
{
  background-image: url(img/cc4.png);
}
img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 60px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}
